.gradle
RadioControl/local.properties
RadioControl/.idea/**
.DS_Store
RadioControl/app/build/*
RadioControl/app/release/*
RadioControl/app/debug/*
RadioControl/app/src/main/res/values/key.txt

RadioControl/app/src/main/res/key.txt
RadioControl/java_pid12248.hprof
RadioControl/lib