<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nikhilparanjape.radiocontrol">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialDarkThemenoab"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!-- Tutorial Activity -->
        <activity
            android:name=".activities.TutorialActivity"
            android:label="app_intro" />

        <!-- Receive Wi-Fi connection state changes -->
        <receiver
            android:name=".receivers.WifiReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.nikhilparanjape.radiocontrol.android.action.broadcast" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.BackgroundAirplaneService"
            android:enabled="true"
            android:icon="@drawable/ic_baseline_airplanemode_active_24px"
            android:label="AirplaneService"
            android:process=":airplane" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".activities.NetworkListActivity"
            android:label="@string/title_activity_network" />
        <activity
            android:name=".activities.CustomSortActivity"
            android:label="Libraries"
            android:theme="@style/AboutLibrariesTheme" />
        <activity android:name=".activities.ChangeLogActivity" />
        <activity android:name=".activities.StatsActivity" />
        <activity android:name=".activities.DoNotDisturbActivity" />

        <service
            android:name=".services.PersistenceService"
            android:enabled="true"
            android:icon="@drawable/ic_baseline_query_builder_24px"
            android:label="PersistenceService"
            android:process=":persistent" />
        <service
            android:name=".services.DoNotDisturbService"
            android:enabled="true"
            android:icon="@drawable/ic_do_not_disturb_on_black_48dp"
            android:isolatedProcess="true"
            android:label="DoNotDisturbService"
            android:process=":dnd" />
        <service
            android:name=".services.CellRadioService"
            android:enabled="true"
            android:icon="@drawable/ic_network_cell"
            android:label="CellRadioService"
            android:process=":cellservice" />
        <service
            android:name=".services.TestJobService"
            android:icon="@drawable/ic_baseline_query_builder_24px"
            android:label="Test"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":jobservice"></service>

        <service android:name=".services.OnBootIntentService" />

        <receiver android:name=".receivers.PhoneStateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.JobServiceStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.TimedAlarmReceiver"
            android:enabled="true"
            android:process=":remote" />
        <receiver
            android:name=".receivers.WakeupReceiver"
            android:enabled="true"
            android:process=":remote" />
        <!-- Start the Service if applicable on boot -->
        <receiver android:name=".receivers.ServiceStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.NightModeReceiver"
            android:enabled="true"
            android:process=":remote" />
        <receiver android:name=".receivers.ActionReceiver" />
        <receiver android:name=".receivers.PersistenceAlarmReceiver" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="81de282abeba311751e18b3d5109feb5ba38e192" />

        <activity
            android:name=".activities.TroubleshootingActivity"
            android:label="@string/title_activity_troubleshooting"></activity>
    </application>

</manifest>