<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikhilparanjape.radiocontrol">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialDarkTheme">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />

        <!-- Tutorial Activity -->
        <activity
            android:name=".activities.TutorialActivity"
            android:label="app_intro" />

        <!-- Receive Wi-Fi connection state changes -->
        <receiver android:name=".receivers.WifiReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.nikhilparanjape.radiocontrol.android.action.broadcast" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.BackgroundAirplaneService"
            android:enabled="true"
            android:icon="@drawable/ic_wifi_black_48dp"
            android:label="AirplaneService" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".activities.NetworkListActivity"
            android:label="@string/title_activity_network" />

        <service
            android:name=".BillingService"
            android:enabled="true"
            android:exported="true" />

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".activities.ChangeLogActivity" />
        <activity android:name=".activities.StatsActivity" />
        <activity android:name=".activities.DoNotDisturbActivity" />

        <service
            android:name=".services.DoNotDisturbService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_do_not_disturb_on_black_48dp"
            android:label="AirplaneService" />
        <service
            android:name=".services.CellRadioService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_network_cell"
            android:label="CellRadioService" />
        <receiver android:name=".receivers.PhoneStateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.TimedAlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <receiver
            android:name=".receivers.WakeupReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>
        <!-- Start the Service if applicable on boot -->
        <receiver android:name="com.nikhilparanjape.radiocontrol.receivers.ServiceStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.NightModeReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"></receiver>
    </application>

</manifest>