<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Required for the app to see WiFi state properties -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- Required to toggle Airplane mode -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Required to see full network state propteries -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> Required for logging? -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Required for cellular mode -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Required for experimental portions of cellular mode -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/> <!-- Required for Android 10+ to allow location access-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Required for knowing when to keep a phone call active while moving from Cell to WiFi -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Required for the app to access the internet/web -->
    <uses-permission android:name="com.android.vending.BILLING" /> <!-- Required for donation purchases -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Required for backwards compatibility to keep service running in the background -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- Required for the app to run its service on boot -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Required to allow background service to run in the background -->

    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- Required for allowing the app to bypass doze restrictions -->

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialDarkThemenoab"
        tools:ignore="GoogleAppIndexingWarning">
        <!--android:dataExtractionRules="@xml/data_extraction_rules"-->
        
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <!-- Tutorial Activity -->
        <activity
            android:name=".activities.TutorialActivity"
            android:label="app_intro" />

        <!-- Receive Wi-Fi connection state changes -->
        <receiver
            android:name=".receivers.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" /> <!-- This is because of deprecations, this will still be called, or will be overriden by a worker process -->
                <action android:name="com.nikhilparanjape.radiocontrol.android.action.broadcast" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".activities.NetworkListActivity"
            android:label="@string/title_activity_network" />

        <activity android:name=".activities.ChangeLogActivity" />
        <activity android:name=".activities.StatsActivity" />
        <activity android:name=".activities.DoNotDisturbActivity" />

        <service
            android:name=".services.PersistenceService"
            android:enabled="true"
            android:icon="@drawable/ic_baseline_query_builder_24px"
            android:label="PersistenceService"
            android:process=":persistent" />
        <service
            android:name=".services.DoNotDisturbService"
            android:enabled="true"
            android:icon="@drawable/ic_do_not_disturb_on_black_48dp"
            android:isolatedProcess="true"
            android:label="DoNotDisturbService"
            android:process=":dnd" />
        <service
            android:name=".services.CellRadioService"
            android:enabled="true"
            android:icon="@drawable/ic_network_cell"
            android:label="CellRadioService"/>
        <service
            android:name=".services.BackgroundJobService"
            android:icon="@drawable/ic_baseline_query_builder_24px"
            android:label="JobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name=".services.OnBootIntentService"
                 android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".receivers.PhoneStateBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.OnBootServiceStarter"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.TimedAlarmReceiver"
            android:enabled="true"
            android:process=":remote" />
        <receiver
            android:name=".receivers.WakeupReceiver"
            android:enabled="true"
            android:process=":remote" />
        <!-- Start the Service if applicable on boot -->
        <receiver android:name=".receivers.ServiceStarter"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.NightModeReceiver"
            android:enabled="true"
            android:process=":remote" />
        <receiver android:name=".receivers.ActionReceiver" />
        <receiver android:name=".receivers.PersistenceAlarmReceiver" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="81de282abeba311751e18b3d5109feb5ba38e192" />

        <activity
            android:name=".activities.TroubleshootingActivity"
            android:label="@string/title_activity_troubleshooting"/>
    </application>

</manifest>